<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h2>Welcome to <%= SITE_NAME %>, <%= @user.username %></h2>
     <br/>

    <p>
      You have successfully signed up to <%= SITE_NAME %>,
      your username is: <%= @user.username %>.<br/> <br/>
    </p>
    <p>
      <a href="<%= @url %>"> Start Exploring Now  </a>  <br/> <br/>
    </p>
    <p>Thanks for joining and have a great day!</p>

    <br/>

    
    <p style="font-style:italic;color:#736F6E;"> If you haven't signed up for <%= SITE_NAME %>, please ignore this email. </p>

  </body>
</html>
